mixin section_two
    .container
        .section_two
            .section_two__box
                .section_two__a 
                    img.section_two__img(src="./img/girls.png", alt="")
                    table.section_two__table
                        tr
                            td.section_two__date-table November 24, 2015
                        tr
                            td.section_two__text The Only Guide To Choosing  
                        tr
                            td.section_two__text Website  Photos You’ll  
                        tr
                            td.section_two__text Ever Need   
                        tr
                            td.section_two__icon
                                img(src="./img/icon.png", alt="")
                .section_two__b
                    img.section_two__img(src="./img/legs.png", alt="")
                    table.section_two__table
                        tr
                            td.section_two__date-table November 24, 2015
                        tr
                            td.section_two__text Growth Hack Your Way to a Successful Freelance Career   
                        tr
                            td.section_two__icon
                                img(src="./img/icon.png", alt="")
                .section_two__c
                    img.section_two__img(src="./img/car2.png", alt="")
                    table.section_two__table
                        tr
                            td.section_two__date-table November 24, 2015
                        tr
                            td.section_two__text Get 80% Off DSLR Photography Course Bun`dle
                        tr
                            td.section_two__icon
                                img(src="./img/icon.png", alt="")