mixin section_two
    .section_two
        .section_two__box
            .section__two__a 
                img.section_two__img(src="./img/girls.png", alt="")
                table.section_two__table
                    tr
                        td.section_two__date-table November 24, 2015
                    tr
                        td.section_two__text How To Find Design Inspiration `In The Simple Things Around You
                    tr
                        td.section_two__icon
                            img(src="./img/icon.png", alt="")
            .section_two__b
                img.section_two__img(src="./img/legs.png", alt="")
                table.section_two__table
                    tr
                        td.section_two__date-table November 24, 2015
                    tr
                        td.section_two__text How To Find Design Inspiration `In The Simple Things Around You
                    tr
                        td.section_two__icon
                            img(src="./img/icon.png", alt="")
            .section_two__c
                img.section_two__img(src="./img/car2.png", alt="")
                table.section_two__table
                    tr
                        td.section_two__date-table November 24, 2015
                    tr
                        td.section_two__text How To Find Design Inspiration `In The Simple Things Around You
                    tr
                        td.section_two__icon
                            img(src="./img/icon.png", alt="")