.section_two {
    margin-top: 16px;
    &__box {
        display: grid;
        margin: 0 auto;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    &__second {
        background: #FFFFFF;
    }

    &__date-table {
        padding-top: 16px;
        padding-bottom: 10px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #818181;
    }

    &__text {
        padding-right: 15px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        text-transform: uppercase;
        color: #1D1D1D;
        letter-spacing: 0.01em;
    }

    &__table {
        margin-left: 20px;
    }

    &__icon {
        padding-top: 93px;
        padding-bottom: 20px;
    }
}

.section_two__a:hover {
    opacity: 0.8;
}

.section_two__b:hover {
    opacity: 0.8;
}

.section_two__c:hover {
    opacity: 0.8;
}
