.section_one {
    margin-top: 82px;
    
    &__box {
        display: grid;
        margin: 0 auto;
        width: 100%;
        gap: 20px;
        grid-template-columns: 2fr 1fr;
    }
    
    &__first {
        position: relative;
    }

    &__date {
        position: absolute;
        bottom: 97px;
        left: 30px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #818181;
    }

    &__title {
        margin: 0;
        position: absolute;
        bottom: 24px;
        left: 30px;
        padding-right: 250px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        text-transform: uppercase;
        color: #FFFFFF;
        letter-spacing: 0.01em;
    }
    
    &__second {
        background: #FFFFFF;
    }

    &__date-table {
        padding-left: 20px;
        padding-top: 16px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #818181;
    }

    &__text {
        padding: 9px 15px 95px 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        text-transform: uppercase;
        color: #1D1D1D;
        letter-spacing: 0.007em;
    }

    &__icon {
        padding-left: 20px;
    }
}

.section_one__first:hover {
    opacity: 0.8;
}  

.section_one__second:hover {
    opacity: 0.8;
}  