mixin section_one
    .container
        .section_one
            .section_one__box
                .section_one__first
                    img.section_one__imgbig(src="./img/car.png", alt="")
                    p.section_one__date November 24, 2015
                    h1.section_one__title Fantastic Designs Of 2015 Concept Cars
                .section_one__second    
                    img.section_one__imgsmal(src="./img/girl.png", alt="")
                    table.section_one__table
                        tr
                            td.section_one__date-table November 24, 2015
                        tr
                            td.section_one__text How To Find Design Inspiration `In The Simple Things Around You
                        tr
                            td.section_one__icon
                                img(src="./img/icon.png", alt="")